@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Jura', sans-serif;
    
}
ul {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(90deg, #10170e,#1d697c,#d8a7eb);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    
}

.todo_box__title {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    color: #e0e2e9;
}

.todo_box__text {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    color: #e0e2e9;
}

.todo_box__header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height:100px;
    border: 1px solid rgb(62, 0, 0);
    background: linear-gradient(90deg, #eccbff,#fbd9ff,#ffe5e7);
    margin-bottom: 35px;
    border-radius: 15px;
}

.todo_box__header-text {
    font-size: 40px;
    font-weight: lighter; 
}

.todo_box__body {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding:5px 10px;
    background-color: #f7f5f5;
    border: 2px solid #133e47;
    border-radius: 5px;
    color: #10170e;
}

.todo_box__task {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
} 

#input__add{
    width: 100%;
    height: 60px;
    border-radius: 7px;
    border: 1px solid;
    font-size: 30px;
    padding: 0px 15px;
    align-items: center;
    margin-right: 10px;
}

.input__out {
    /* display: block; */
    width: 100%;
    font-size: 25px;
}

.todo_box__input::placeholder {
    font-size: 25px;
    padding: 0px 15px;
    align-items: center;
}

.todo_box__btn{
    width: 120px;
    height: 50px;
    padding: 5px 5px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid #c5c5c5;
    cursor: pointer;
}

.todo_box__btn.add:hover{
    background-color: rgb(149, 88, 200);
    transition: all .3s;
}

.todo_box__btn:last-child{
    margin-right:0px;
}

.todo_box__btn.done {
    background-color: green;
    color: aliceblue;
}
.todo_box__btn.done:hover{
    background-color: rgb(0, 75, 13);
    transition: all .3s;
}

.todo_box__btn.delete {
    background-color: red;
    color: aliceblue;
}
.todo_box__btn.delete:hover{
    background-color: rgb(218, 0, 0);
    transition: all .3s;
}

.todo_box__btn.add {
    background-color: rgb(31, 143, 248);
    color: aliceblue;
}

.hidden {
    display: none;
}

.done_task {
    background-color: #06df32;
}


@media (max-width: 863px) {
    .todo_box__title {
        font-size: 30px;
    }

    .todo_box__text {
        font-size: 30px;
    }

    .todo_box__btn.add,.todo_box__btn.done,.todo_box__btn.delete {
        font-size: 15px;
    }
}